{% extends "base.jinja2" %}
{% import "main/includes/cards.jinja2" as cards %}

{% block body %}
<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h2>{{ user.username }}</h2>
      <hr />
      {% if user in current_user.following %}
        <form action="/user/{{ user.username }}/unfollow" method="post">
            <button class="btn btn-outline-secondary" type="submit">✓ following</button>
        </form>
      {% else %}
        <form action="/user/{{ user.username }}/follow" method="post">
            <button class="btn btn-primary" type="submit">follow</button>
        </form>
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    {{ cards.following(user) }}
  </div>
  <div class="col">
    {{ cards.posts(user) }}
  </div>
</div>
{% endblock %}
